/* html {
    scroll-behavior: smooth;
} */

:root {
    --primary: #222831;
    --secondary: #31363f;
    --primary2: #76abae;
    --links: #5c98d3;
    --orange: #d08770;
    --red: #bf616a;
    --text: #eeeeee;
    --sub-text: #b0b0b0;
    --yellow: #ebcb8b;
}

body {
    background-color: var(--primary);
}

h3 {
    margin: 0px;
}
.hide {
    display: none !important;
}

img {
    object-fit: cover;
    object-position: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--secondary);
    padding: 80px 60px;
    border-radius: 24px;
    overflow-x: auto;
}

.main {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 12px 24px;
    /* padding-left: 0;
    padding-top: 12px; */
    color: var(--text);
    font-size: 18px;
    min-width: 0;
    min-height: 0;
}

body::-webkit-scrollbar {
    background-color: var(--primary);
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border-radius: 4px;
}

.main__menus {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    flex-shrink: 1;
}

.title {
    font-size: 32px;
    text-align: center;
}

.green-text {
    color: var(--primary2);
}
.blue-text {
    color: var(--links);
}
.yellow-text {
    color: var(--yellow);
}
.orange-text {
    color: var(--orange);
}

.picture__container {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    border-radius: 50%;
}

.picture__container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatar__edit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--primary);
    padding: 10px;
    background-color: var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}
.avatar__edit,
.avatar__edit i {
    cursor: pointer;
}

.avatar__edit:hover {
    background-color: var(--primary);
    color: var(--text);
}

.user__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 50%;
    max-width: 420px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin: 0 auto;
}

.input label {
    font-weight: bold;
    text-align: start;
}

input {
    outline: none;
    background-color: transparent;
    padding: 6px 14px;
    border: none;
    border-bottom: 1px solid white;
    color: var(--text);
    transition: all ease 0.2s;
}

.input input::placeholder {
    color: var(--sub-text);
}

.input input:focus {
    border-bottom: 1px solid var(--links);
}

.button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--text);
    border-radius: 12px;
    padding: 8px 18px;
    border: none;
    outline: none;
    font-size: 24px;
    transition: all ease 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-confirm {
    background-color: #57898b;
}
.button-confirm:hover {
    background-color: var(--primary2);
}

.button-danger {
    background-color: #9b4951;
}
.button-danger:hover {
    background-color: var(--red);
}

.button-action {
    background-color: #487bad;
}
.button-action:hover {
    background-color: var(--links);
}

.button-grey {
    background-color: #757070;
}
.button-grey:hover {
    background-color: var(--sub-text);
}

input[type="file"] {
    display: none;
}

.songs-display {
    width: 100%;
    background-color: var(--primary);
    padding: 24px 16px;
    border-radius: 12px;
    overflow-y: scroll;
    height: 640px;
}

.songs-display::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.songs-display::-webkit-scrollbar-thumb {
    background-color: var(--links);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

table {
    width: 100%;
    border-spacing: 0 30px;
}

.songs-display__table th {
    color: var(--sub-text);
}

.songs-display__table tr {
    border-bottom: 1px solid var(--links) !important;
    min-height: 82px;
}

.songs-display__table tr img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: 12px;
}

.songs-display__table td {
    padding: 12px;
}

td button {
    background-color: transparent;
    border: none;
    transition: all ease 0.2s;
}
td button:hover {
    transform: scale(1.2);
}

.fa-solid {
    font-size: 28px;
}

.fa-regular {
    font-size: 24px;
}

.fa-trash-can {
    color: var(--red) !important;
}

.fa-xmark {
    color: var(--red) !important;
}

.fa-pen-to-square {
    color: var(--text);
}

.fa-check {
    color: var(--primary2);
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: transparent;
    border: 1px solid var(--primary2);
    outline: none;
    padding: 8px 42px;
    padding-right: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 512px;
    caret-color: var(--text);
    color: var(--text);
}

.search-bar i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 24px;
    transform: translate(-50%, -50%);
}

.song-selection {
    cursor: pointer;
    transition: all ease 0.3s;
}

.song-selection:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#edit-song__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.edit-song__detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 84px;
    gap: 24px;
}

.edit__selected-song-picture {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 12px;
    margin: 0;
}

.edit__selected-song-picture img {
    border-radius: 12px;
}

.songs-display__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-playlist__select {
    background-color: var(--primary);
    color: var(--text);
    border: 1px solid var(--primary2);
    border-radius: 12px;
}

.select-playlist {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.fa-circle-plus {
    color: var(--links);
}

.modal-dialog {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.modal-content {
    background-color: var(--primary);
}

.fa-x {
    color: var(--text);
}

.fa-circle-check {
    color: var(--primary2);
}

.fa-angles-up {
    color: var(--yellow);
}

.fa-file-pen {
    font-size: 18px;
}

.user-list__table {
    color: var(--text);
    background-color: var(--primary);
}

.user-list__table tr,
.user-list__table th,
.user-list__table td {
    background-color: var(--primary);
    border-bottom: 1px solid var(--links) !important;
    text-align: center;
    vertical-align: middle;
}

.userImg-mini img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: 12px;
}

.admin > .role {
    font-weight: bold;
    color: var(--links);
}

.owner > .role {
    font-weight: bold;
    color: var(--orange);
}

.background-wrapper {
    border-radius: 12px;
    padding: 24px 16px;
    background-color: var(--primary);
    overflow-x: inherit;
    width: 100%;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hidden-box {
    height: 100%;
}

.button-svg {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: all ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-svg:hover {
    opacity: 1;
}

.button-icon {
    padding: 8px 12px;
}

.playlist-information {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: start;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #25b09b;
    animation: l15 1s infinite linear;
    margin: 0 auto;
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}
.loader::after {
    margin: 8px;
    animation-duration: 3s;
}
@keyframes l15{
    100%{
        transform: rotate(1turn)
    }
}

.success {
    color: var(--primary2);
}
.fail {
    color: var(--red);
}

header {
    color: var(--text);
    height: 100%;
    width: 20%;
    position: relative;
}

.navbar {
    position: fixed;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
    height: 98%;
    padding: 12px 16px;
    background: var(--secondary);
    border-radius: 16px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    width: 100%;
}

.navbar i {
    font-size: 16px;
    margin-right: 6px;
}